* {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
body {
  background-color: aliceblue;
  font-style: "Nunito Sans", sans-serif;
}

.pages {
  margin-top: 50%;
}
.hello {
  display: flex;
  margin-right: 35%;
  margin-top: 10px;
}
.second {
  padding-left: 15%;
  font-size: 15px;
}
.tocenter {
  text-align: center;
}
